.chat-main
  .chat-main__group-info
    .group-detail
      %p.group-detail__group-name test
      %p.group-detail__group-member Member：masa
    .button
      = link_to 'Edit', '#'
  .chat-main__message-list
    = render @messages
  .chat-main__message-form
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .text-field
        = f.text_field :content, class: 'message', placeholder: 'type a message'
        = f.label :image, class: 'text-field__image', for: 'message-image' do
          = icon('far', 'image', class: 'icon')
          = f.file_field :image, id: "message-image"
      .send-button
        = f.submit 'Send', class: 'send'