.chat-main
  .chat-main__group-info
    .group-detail
      %p.group-detail__group-name test
      %p.group-detail__group-member Member：masa
    .button
      = link_to 'Edit', '#'
  .chat-main__message-list
    .message-detail
      .message-detail__name-date
        %p.member-name masa
        %p.date 2019/11/20(Wed) 17:43:01
      %p.message-detail__message おはよう！
    .message-detail
      .message-detail__name-date
        %p.member-name masa
        %p.date 2019/11/20(Wed) 17:43:34
      %p.message-detail__message 今日は夜から雨
  .chat-main__message-form
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .text-field
        = f.text_field :content, class: 'message', placeholder: 'type a message'
        = f.label :image, class: 'text-field__image', for: 'message-image' do
          = icon('far', 'image', class: 'icon')
          = f.file_field :image, id: "message-image"
      .send-button
        = f.submit 'Send', class: 'send'